<div class="container-fluid d-flex fondo-login" style="height:800px">

  <div class="form-group mx-auto my-auto text-center">
    <h1 class="display-1 mx-auto my-auto" style="color:white; font-weight: bold; font-family: 'Cinzel Decorative', cursive">UNIFILM</h1>
    <br>
    <h1 class="display-3 mx-auto my-auto" style="color:white; font-weight: bold; font-style: italic">Lo más fresco en peliculas</h1>
    <br>
    <br>
    <button type="button" class="btn-lg btn-primary mx-2" [routerLink]="['singin']" >
      <i class="fas fa-sign-in-alt"></i> Iniciar Sesion</button>
    <button type="button" class="btn-lg btn-danger mx-2" [routerLink]="['singup']">Registrarse</button>
    
  </div>
</div>