
<div class="fondo-singup">
  <div class="container-fluid d-flex" style="height: 1500px" >
    <div class="mx-auto my-auto text center" >
      <h1 class="display-1 mx-auto my-auto" style="color: white; font-weight: bold;">Inicio de sesión</h1>
      <br>
      <br>
      <br>
      <br>    
      <form>
      <!--Nombre de usuario-->  
        <div class="col-md" style="color: white; font-weight: bold;">	
          <div class="form-group" style="color: white; font-weight: bold;">
            <label >Nombre de usuario</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario">
          </div>
      <!--Contraseña-->
          <div class="form-group" style="color: white; font-weight: bold;">
            <label >Ingrese su contraseña</label>
            <span class="text-danger">*</span>
            <input type="password" class="form-control" id="password" placeholder="Ingrese Password">
          </div>
       <!--Confirmacion de contraseña-->   
          <div class="form-group">
            <label >Confirme su passwrod</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="apellidoP" placeholder="Ingrese su apellido paterno">
          </div>
          <div class="form-group" >
        <!--Nombre-->
            <label >Nombre</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
          </div>
         <!--ApellidoP--> 
          <div class="form-group">
            <label >Apellido Paterno</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="apellidoP" placeholder="Ingrese su apellido paterno">
          </div>
          <div class="form-group">
        <!--ApellidoM-->
            <label >Apellido Materno</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="apellidoP" placeholder="Ingrese su apellido paterno">
          </div>
        <!--Correro Electronico-->
          <div class="form-group">
            <label >Correo Electronico</label>
            <span class="text-danger">*</span>
            <input type="email" class="form-control" id="apellidoP" placeholder="Ingrese su apellido paterno">
          </div>
          <!--Sexo-->
          <div class="form-group">
          <label class="control-label">Sexo<span class="text-danger"></span></label>
            <div>
              <label>
              <input name="genero" type="radio" value="M" checked >
              Masculino</label>
              <label>
              <input name="genero" type="radio" value="F" >
              Femenino</label>
            </div>
          </div> 
          <div class="form-group">
              <br>

            <div class="form-group">
                 <label >Numero de tarjeta de credito</label>
                 <span class="text-danger">*</span>
                 <input type="number" class="form-control" id="tarjeta" placeholder="Ingrese el numero de tarjeta">
            </div>
            
            <div class="form-group ">
                <label >Fecha de expiracion</label>
                <br>
                <select id="fechaT" class="form-control">
                  <option selected>Seleccione mes</option>
                  <option>Enero</option>
                  <option>Febrero</option>
                  <option>Marzo</option>
                  <option>Abril</option>
                  <option>Mayo</option>
                  <option>Junio</option>
                  <option>Julio</option>
                  <option>Agosto</option>
                  <option>Septiembre</option>
                  <option>Octubre</option>
                  <option>Noviembre</option>
                  <option>diciembre</option>
                  
                </select>
              <br>
                  <select id="fechaT" class="form-control">
                    <option selected>Seleccione año</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    
                  </select>
                </div>

                <div class="form-group">
                    <label >Codigo de seguridad</label>
                    <span class="text-danger">*</span>
                    <input type="password" class="form-control text-muted "  id="cvsT" placeholder="Ingrese su codigo de seguridad">
                  </div>

           <!--Foto de perfil-->   
             <label >Seleccionar foto de perfil</label>
             <input type="file" class="form-control-file" id="fotoPerfil">
             <br>
           </div>
           <div align="center" >
            <button type="button" class="btn btn-primary btn-md ">Aceptar</button>
          <button type="button" class="btn btn-secondary btn-md ">Cancelar</button>
        </div>
        <br>
        <br>
   </div>