<div class="fondo-singup">
  <div class="container-fluid d-flex" style="height: 100%">
    <div class="mx-auto my-auto text center">
      <h2 class="display-1 mx-auto my-auto" style="color: white; font-weight: bold;">Inicio de sesión</h2>
      <br>
      <br>

      
      <form [formGroup]="registro" (ngSubmit)="onSubmit()" novalidate>
        <!--Nombre de usuario-->
        <div class="col-md" style="color: white; font-weight: bold;">
          <div class="form-group" style="color: white; font-weight: bold;">
            <label>Nombre de usuario</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario" formControlName="nombreU" maxlength="50">
            <div *ngIf="registro.get('nombreU').errors && registro.get('nombreU').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('nombreU').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('nombreU').hasError('sinEspacios')">No puede haber espacios</p>
              <p class="alert alert-danger" *ngIf="registro.get('nombreU').hasError('pattern')">Nombre de usuario no valido debe tener 4-20 caracteres</p>
            </div>
          </div>
          
          <!--Contraseña-->
          <div class="form-group" style="color: white; font-weight: bold;">
            <label>Ingrese su contraseña</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="password" class="form-control" id="password" placeholder="Ingrese Password" formControlName="contra">
            <div *ngIf="registro.get('contra').errors && registro.get('contra').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('contra').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('contra').hasError('pattern')">No es un password</p>
              <p class="alert alert-danger" *ngIf="registro.get('contra').hasError('sinEspacios')">No puede haber espacios</p>
            </div>
          </div>
          <!--Confirmacion de contraseña-->
          <div class="form-group">
            <label>Confirme su passwrod</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="password" class="form-control" id="contraC" placeholder="Ingrese su apellido paterno" formControlName="contraC">
            <div *ngIf="registro.get('contraC').errors && registro.get('contraC').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('contraC').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('contraC').hasError('pattern')">No es un password</p>
              <p class="alert alert-danger" *ngIf="registro.get('contraC').hasError('sinEspacios')">No puede haber espacios</p>
              <!--<p class="alert alert-danger" *ngIf="registro.get('contraC').hasError('MatchPassword')">Las contraseñas no coinciden</p>-->
            </div>
            <p class="alert alert-danger" *ngIf="!isValidMatchPassword()">Las contraseñas no coinciden</p>
          </div>
          <!--Nombre-->
          <div class="form-group">
            <label>Nombre</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" formControlName="nombre">
            <div *ngIf="registro.get('nombre').errors && registro.get('nombre').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('nombre').hasError('required')">El campo es requerido</p>
            </div>
          </div>
          <!--ApellidoP-->
          <div class="form-group">
            <label>Apellido Paterno</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="text" class="form-control" id="apellidoP" placeholder="Ingrese su apellido paterno" formControlName="apellidoP">
            <div *ngIf="registro.get('apellidoP').errors && registro.get('apellidoP').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('apellidoP').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('apellidoP').hasError('sinEspacios')">No puede haber espacios</p>
            </div>
          </div>
          <!--ApellidoM-->
          <div class="form-group">
            <label>Apellido Materno</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="text" class="form-control" id="apellidoM" placeholder="Ingrese su apellido paterno" formControlName="apellidoM">
            <div *ngIf="registro.get('apellidoM').errors && registro.get('apellidoM').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('apellidoM').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('apellidoM').hasError('sinEspacios')">No puede haber espacios</p>
            </div>
          </div>
          <!--Correro Electronico-->
          <div class="form-group">
            <label>Correo Electronico</label>
            <span class="text-danger">*</span>
            <input maxlength="50" type="email" class="form-control" id="correo" placeholder="Ingrese su apellido paterno" formControlName="correo">
            <div *ngIf="registro.get('correo').errors && registro.get('correo').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('correo').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('correo').hasError('pattern')">No es un email</p>
              <p class="alert alert-danger" *ngIf="registro.get('correo').hasError('sinEspacios')">No puede haber espacios</p>
            </div>
          </div>
          <!--Sexo-->
          <div class="form-group ">
            <label class="control-label">Sexo
              <span class="text-danger"></span>
            </label>
            <div>
              <label>
                <input name="sexo" type="radio" value="M" formControlName="sexo" checked> Masculino
              </label>
              <label>
                <input name="sexo" type="radio" value="F" formControlName="sexo"> Femenino
              </label>
              <div *ngIf="registro.get('sexo').errors ">
                <p class="alert alert-danger" *ngIf="registro.get('numeroTarjeta').hasError('required')">El campo es requerido</p>
              </div>
            </div>
          </div>
          <!--Datos tarjeta de credito-->
          <div class="form-group">
            <br>
            <!--Datos tarjeta de credito-->
            <div class="form-group">
              <label>Numero de tarjeta de credito</label>
              <span class="text-danger">*</span>
              <input maxlength="50" type="text" class="form-control" id="tarjeta" placeholder="Ingrese el numero de tarjeta" formControlName="numeroTarjeta">
              <div *ngIf="registro.get('numeroTarjeta').errors && registro.get('numeroTarjeta').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('numeroTarjeta').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('numeroTarjeta').hasError('sinEspacios')">No puede haber espacios</p>
                <p class="alert alert-danger" *ngIf="registro.get('numeroTarjeta').hasError('pattern')">No es un numero valido valores validos: (0-9) deben ser 16 digitos</p>
              </div>
            </div>
            <div class="form-group ">
              <label>Mes de expiracion</label>
              <span class="text-danger">*</span>
              <br>
              <select class="form-control" formControlName="mesFE" >
                <option value="Enero">Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>

              </select>
              <div *ngIf="registro.get('mesFE').errors">
                <p class="alert alert-danger" *ngIf="registro.get('mesFE').hasError('required')">El campo es requerido</p>
              </div>
              <label>Año de expiracion</label>
              <span class="text-danger">*</span>
              <br>
              <select class="form-control" formControlName="anioFE" >
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
              <div *ngIf="registro.get('anioFE').errors">
                <p class="alert alert-danger" *ngIf="registro.get('anioFE').hasError('required')">El campo es requerido</p>
              </div>
            </div>

            <div class="form-group">
              <label>Codigo de seguridad</label>
              <span class="text-danger">*</span>
              <input maxlength="4"  type="password" class="form-control text-muted " id="cvsT" placeholder="Ingrese su codigo de seguridad" formControlName="codigoS">
              <div *ngIf="registro.get('codigoS').errors && registro.get('codigoS').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('codigoS').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('codigoS').hasError('sinEspacios')">No puede haber espacios</p>
                <p class="alert alert-danger" *ngIf="registro.get('codigoS').hasError('pattern')">No es un codigo deben ser numeros y contener 3 digitos</p>
              </div>
            </div>
            <br>
          </div>
          <div align="center">
            <button type="submit" [disabled]="registro.invalid || !isValidMatchPassword()" class="btn btn-primary btn-md ">Aceptar</button>
            <button type="button" class="btn btn-secondary btn-md " [routerLink]="['/pagina-principal']">Cancelar</button>
            <br>
            <a [routerLink]="['/singin']">¿Ya tienes una cuenta?
              <br>¡Da click aqui para iniciar sesion!</a>

          </div>
          <br>
          <br>
        </div>