<div class="fondo-singin">
<div class="container-fluid d-flex" style="height: 800px" >
  <div class="mx-auto my-auto text center" >
    <h1 class="display-1 mx-auto my-auto" style="color: white; font-weight: bold;">Inicio de sesión</h1>
    <br>
    <br>
    <br>
    <br>    
    <form>
      <div class="col-md" style="color: white; font-weight: bold;">	
      <!--Nombre de usuario-->  
        <div class="form-group" style="color: white; font-weight: bold;">
          <label >Nombre de usuario</label>
          <span class="text-danger">*</span>
          <input type="text" class="form-control" id="usuario" placeholder="Ingrese su usuario">
        </div>
      <!--Password-->
        <div class="form-group" style="color: white; font-weight: bold;">
          <label >Ingrese su contraseña</label>
          <span class="text-danger">*</span>
          <input type="password" class="form-control" id="password" placeholder="Ingrese Password">
        </div>
        <div align="center" >
          <button type="button" class="btn btn-primary btn-md ">Aceptar</button>
        <button type="button" class="btn btn-secondary btn-md ">Cancelar</button>
      </div>
      <br>
      <br>
 </div>