
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h2 class="h2">Editar Usuario( {{usuario.nombre}} {{ usuario.apellidoP}} {{ usuario.apellidoM}} )</h2>
  </div>


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h4 class="h4">Agregar</h4>
  <div class="btn-toolbar mb-2 mb-md-0"> 
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-success" (click)="activarAgregarTarjeta()">Agregar Tarjeta de Credito</button>
    </div>
  </div>
</div> 

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h4 class="h4">Editar</h4>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-warning" (click)="activarEditarTarjeta()">Editar Tarjeta de Credito</button>
      <button class="btn btn-sm btn-outline-warning" (click)="activarEditarDatosPersonales()">Editar Datos Personales</button>
    </div>
  </div>
</div>





<!--AGREGAR TARJETA DE CREDITO -->
<div *ngIf="agregarTarjeta">
  <p>AGREGAR Tarjeta de credito</p>
</div>
<!--FIN AGREGAR TARJETA DE CREDITO -->

<!--EDITAR TARJETA DE CREDITO -->
<div *ngIf="editarTarjeta">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
    <!--FIN EDITAR TARJETA DE CREDITO -->

  <!--EDITAR DATOS PERSONALES -->
  <div *ngIf="editarDatosPersonales">
    <p>Editar DAtos personales</p>
  </div>
  <!--FIN DATOS PERSONALES -->




    <div *ngIf="false">
      <ul class="list-group">
        <li class="list-group-item disabled">
          <pre>{{ usuario | json }}</pre>
        </li>
      </ul>
    </div>