
<div class="fondo-pelicula">
  <div class="container-fluid d-flex" style="height: 100%" >
    <div class="mx-auto my-auto text center" >
      <h1 class="display-1 mx-auto my-auto" style="color: white; font-weight: bold;">Alta contenido</h1>
      <br>   
      <form [formGroup]="registro" (ngSubmit)="guardarPelicula()" novalidate>
      <!--Nombre de pelicula-->  
        <div class="col-md" style="color: white; font-weight: bold;">	
          <div class="form-group" style="color: white; font-weight: bold;">
            <label >Titulo de la pelicula</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control"  placeholder="Ingrese su usuario" formControlName="titulo" maxlength="50">
            <div *ngIf="registro.get('titulo').errors && registro.get('titulo').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('titulo').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('titulo').hasError('pattern')">No es un titulo valido</p>
            </div>
          </div>
          
        </div>
        <br>
              <!--Nombre del director-->

            <div class="col-md" style="color: white; font-weight: bold;">
              <div class="form-group" style="color: white; font-weight: bold;">
                <label>Director de la pelicula</label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreD" maxlength="50">
                <div *ngIf="registro.get('nombreD').errors && registro.get('nombreD').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('nombreD').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('nombreD').hasError('pattern')">No es un nombre valido</p>
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaternoD" maxlength="50">
                <div *ngIf="registro.get('apPaternoD').errors && registro.get('apPaternoD').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('sinEspacios')">No puede haber espacios</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('pattern')">No es un apellido valido</p>
                
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaternoD" maxlength="50">
                <div *ngIf="registro.get('apMaternoD').errors && registro.get('apMaternoD').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoD').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoD').hasError('sinEspacios')">No puede haber espacios</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoD').hasError('pattern')">No es un apellido valido</p>
                </div>
                <br>
                  <label>Tipo de Director</label>
                  <span class="text-danger">*</span>
                  <div class="form-group ">                
                    <select class="form-control" formControlName="director" maxlength="50">
                      <option >Director </option>
                      <option >Director de Arte </option>
                      <option >Director de sonido </option>
                      <option >Director de fotografia</option>
                      <option>Direcctor de produccion</option>
                      <option>Director de Escenografia y Vesturario</option>
                    </select>
                    <div *ngIf="registro.get('director').errors ">
                      <p class="alert alert-danger" *ngIf="registro.get('director').hasError('required')">El campo es requerido</p>
                    </div>
                 </div>
                 
                <br>
              </div>
            </div>
            <!--Actores-->
            <div class="col-md" style="color: white; font-weight: bold;">
              <div class="form-group" style="color: white; font-weight: bold;">
                <label>Actores de la pelicula</label>
                <span class="text-danger">*</span>
                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreA" maxlength="50">
                <div *ngIf="registro.get('nombreA').errors && registro.get('nombreA').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('nombreA').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('nombreA').hasError('pattern')">No es un nombre valido</p>
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaternoA" maxlength="50"> 
                <div *ngIf="registro.get('apPaternoA').errors && registro.get('apPaternoA').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('sinEspacios')">No puede haber espacios</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('pattern')">No es un apellido valido</p>
                </div>
                <br>
                <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaternoA" maxlength="50">
                <div *ngIf="registro.get('apMaternoA').errors && registro.get('apMaternoA').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoA').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoA').hasError('sinEspacios')">No puede haber espacios</p>
                  <p class="alert alert-danger" *ngIf="registro.get('apMaternoA').hasError('pattern')">No es un apellido valido</p>
                </div>
                <br>
                <label>Tipo de Actor</label>
                <span class="text-danger">*</span>
                <br>
                <div class="form-group ">

                  <select class="form-control" formControlName="tipoActor" maxlength="50">
                    <option >Protagonista</option>
                    <option >Antagonista</option>
                    <option>Secundario</option>
                  </select>
                  <div *ngIf="registro.get('tipoActor').errors">
                    <p class="alert alert-danger" *ngIf="registro.get('tipoActor').hasError('required')">El campo es requerido</p>
                  </div>
                </div>
               

              </div>
            </div>
            <br>
            <!--Genero pelicula-->
            <div class="col-md" style="color: white; font-weight: bold;">	
            
            <label >Genero de la pelicula</label>
            <span class="text-danger">*</span>
            <br>           
            <div class="form-group ">

                <select  class="form-control" formControlName="genero" maxlength="50">
                  <option>Drama</option>
                  <option>Comedia</option>
                  <option>Acción</option>
                  <option>Ciencia ficción</option>
                  <option>Fantasía</option>
                  <option>Terror</option>
                  <option>Romance</option>
                  <option>Musical</option>
                  <option>Melodrama</option>
                  <option>Suspenso</option>
                  <option>Histórico</option>
                  <option>Bélico</option>
                  <option>Policíaco</option>
                  <option>Western</option>
                  <option>Animación</option>
                  <option>Para niños</option>
                  <option>Cine arte</option>
                  <option>Cine independiente</option>
                </select>
                <div *ngIf="registro.get('genero').errors ">
                  <p class="alert alert-danger" *ngIf="registro.get('genero').hasError('required')">El campo es requerido</p>
                </div>
            </div>
             
          </div>  
                <br>
          <!--Fecha de produccion-->

          <div class="col-md" style="color: white; font-weight: bold;">
            <div class="form-group" style="color: white; font-weight: bold;">
              <label>Fecha de estreno</label>
              <span class="text-danger">*</span>
              <input type="date" step="1" min="2013-01-01" max="2018-12-31" value="2013-01-01" formControlName="fechaProduccion" maxlength="50">
              <div *ngIf="registro.get('fechaProduccion').errors && registro.get('fechaProduccion').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('fechaProduccion').hasError('required')">El campo es requerido</p>
              </div>
            </div>
          </div>
          
          <!--Sinopsis-->  
         <div class="col-md" style="color: white; font-weight: bold;">	
              <div class="form-group" style="color: white; font-weight: bold;">
                <label >Sinopsis</label>
                <span class="text-danger">*</span>
                <textarea class="form-control text-muted" aria-label="With textarea" style=" size: 32" placeholder="Ingrese la sinopsis de la pelicula" formControlName="sinopsis" maxlength="50"></textarea>
                <div *ngIf="registro.get('sinopsis').errors && registro.get('sinopsis').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('sinopsis').hasError('required')">El campo es requerido</p>
                  <p class="alert alert-danger" *ngIf="registro.get('sinopsis').hasError('pattern')">No es un titulo valido</p>
                </div>
              </div> 
             
          </div>
          

           <!--Clasificacion-->
          <div class="col-md" style="color: white; font-weight: bold;">

            <label>Clasificacion de la pelicula</label>
            <span class="text-danger">*</span>
            <br>
            <div class="form-group ">

              <select class="form-control" formControlName="clasificacion" maxlength="50">
                <option >A Mayores de 6 años</option>
                <option>B Para mayores de 12 años</option>
                <option>B15 Para mayores de 15 años</option>
                <option>C Para adultos, apto para mayores de 18 años</option>
                <option>D Exclusivamente adultos</option>
              </select>
              <div *ngIf="registro.get('clasificacion').errors">
                <p class="alert alert-danger" *ngIf="registro.get('clasificacion').hasError('required')">El campo es requerido</p>
              </div>
            </div>
            
          </div>
          <!--Duracion-->

          <div class="col-md" style="color: white; font-weight: bold;">
            <div class="form-group" style="color: white; font-weight: bold;">
              <label>Duracion</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" style=" size: 32" placeholder="Duracion en minutos" formControlName="duracion" maxlength="4">
              <div *ngIf="registro.get('duracion').errors && registro.get('duracion').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('duracion').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('duracion').hasError('pattern')">El campo debe ser un numero en minutos maximo 3 digitos</p>
              
              </div>
            </div>
            
          </div>
          <!--Casa productora-->
          
          <div class="col-md" style="color: white; font-weight: bold;">
            <div class="form-group" style="color: white; font-weight: bold;">
              <label>Casa Productora</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" style=" size: 32" placeholder="Casa Prouctora" formControlName="casaProductora" maxlength="50">
              <div *ngIf="registro.get('casaProductora').errors && registro.get('casaProductora').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('casaProductora').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('casaProductora').hasError('pattern')">No es un nombre valido</p>
              </div>
            </div>
          </div>

          <!--Portada de pelicula-->
          <div class="col-md" style="color: white; font-weight: bold;">
            <label>Colocar URL de la portada</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="ejemplo: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiv77RtuuI2i0CzDw2TJEQ085-pfZaBzXiTB62EQ1heFIKqy2zHQ"
  formControlName="urlPortada">
<div *ngIf="registro.get('urlPortada').errors && registro.get('urlPortada').dirty ">
  <p class="alert alert-danger" *ngIf="registro.get('urlPortada').hasError('required')">El campo es requerido</p>

</div>


          </div>
          <br>
           <!--Archivo de pelicula-->   
           <div class="col-md" style="color: white; font-weight: bold;">
           <label >Colocar URl de la pelicula</label>
          <span class="text-danger">*</span>
<input type="text" class="form-control" placeholder="ejemplo: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiv77RtuuI2i0CzDw2TJEQ085-pfZaBzXiTB62EQ1heFIKqy2zHQ"
  formControlName="urlPelicula">
<div *ngIf="registro.get('urlPelicula').errors && registro.get('urlPelicula').dirty ">
<p class="alert alert-danger" *ngIf="registro.get('urlPelicula').hasError('required')">El campo es requerido</p>

</div>




            </div> 
             <br>

           
             <div align="center" >
              <button  type="submit" class="btn btn-primary btn-md " [disabled]="registro.invalid" (click)="guardarPelicula()" >Aceptar</button>
<button type="button" class="btn btn-secondary btn-md " >Cancelar</button>

             <p class="alert alert-danger">registro.valid: {{ registro.valid  }}</p>
  
          </div>
        <br>

        </form>

        </div>
   </div>
  </div>