<div class="container-fluid  fondo-login" style="height: 900px">
  <div  *ngIf="loading" style="padding: 400px 300px ;">
    <div class="progress" style="height: 40px;">
      <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%" aria-valuenow="400">CARGANDO DETALLE Pelicula</div>
    </div>
  </div>

  <div *ngIf="!loading">
    <p class="container">
      DETALLE DE Pelicula
    </p>
    <div>
      <div class="row">
        <div class="card-deck" >
          <div class="card text-white bg-dark" >
            <a routerLink="/peliculas/{{pelicula.idPelicula}}">
              <img class="card-img-top " src="{{pelicula.urlPortada}}" alt="Card image cap">
            </a>
            <div class="card-body">
              <dl class="dl-horizontal card-text">
                <dt>Titulo: </dt>
                <dd>{{ pelicula.titulo }}</dd>
                <dt>Sinopsis:</dt>
                <dd>
                  {{pelicula.sinopsis}} 
                </dd>
                <dt>Genero:</dt>
                <dd>{{ pelicula.generos }}</dd>
                <dt>Duracion:</dt>
                <dd>
                  {{pelicula.duracion}} minutos
                </dd>
                <dt>Calificar:</dt>
                <dd>
                  <select class="form-control"  maxlength="50">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>

                  </select>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <div>{{pelicula.urlPelicula}}
            <iframe width="640" height="360" src="https://www.youtube.com/embed/RdqOgBnZhxo" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <button [routerLink]="['/home-cliente']" class="btn btn-primary">Regresar</button>


</div>