<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2 class="h2">Agregar Pelicula</h2>
  
</div>
  
  <div class="container-fluid d-flex" style="height: 100%" >
    <div class="mx-auto my-auto text center" >
      
      <form [formGroup]="registro" (ngSubmit)="guardarPelicula()" novalidate>
      <!--Nombre de pelicula-->  
        <div class="col-md" >	
          <div class="form-group">
            <label >Titulo de la pelicula</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control"  placeholder="Ingrese su usuario" formControlName="titulo" maxlength="50">
            <div *ngIf="registro.get('titulo').errors && registro.get('titulo').dirty">
              <p class="alert alert-danger" *ngIf="registro.get('titulo').hasError('required')">El campo es requerido</p>
              <p class="alert alert-danger" *ngIf="registro.get('titulo').hasError('pattern')">No es un titulo valido</p>
            </div>
          </div>
          
        </div>
              <!--Nombre del director-->

            <div class="col-md">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Director de la pelicula</span>
                </div>
                    <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreD" maxlength="50">
                    <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaternoD" maxlength="50">
                    <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaternoD" maxlength="50">
              </div>
              <div *ngIf="registro.get('nombreD').errors && registro.get('nombreD').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('nombreD').hasError('required')">El nombre es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('nombreD').hasError('pattern')">No es un nombre valido</p>
              </div>
              <div *ngIf="registro.get('apPaternoD').errors && registro.get('apPaternoD').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('required')">El apellido paterno requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('sinEspacios')">No puede haber espacios en el apellido paterno</p>
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoD').hasError('pattern')">No es un apellido paterno valido</p>

              </div>
              <div *ngIf="registro.get('apMaternoD').errors && registro.get('apMaternoD').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('apMaternoD').hasError('sinEspacios')">No puede haber espacios en el apellido materno</p>
                <p class="alert alert-danger" *ngIf="registro.get('apMaternoD').hasError('pattern')">No es un apellido materno valido</p>
              </div>
                  <label>Tipo de Director</label>
                  <span class="text-danger">*</span>
                  <div class="form-group ">                
                    <select class="form-control" formControlName="director" maxlength="50">
                      <option >Director </option>
                      <option >Director de Arte </option>
                      <option >Director de sonido </option>
                      <option >Director de fotografia</option>
                      <option>Direcctor de produccion</option>
                      <option>Director de Escenografia y Vesturario</option>
                    </select>
                    <div *ngIf="registro.get('director').errors ">
                      <p class="alert alert-danger" *ngIf="registro.get('director').hasError('required')">El campo es requerido</p>
                    </div>
                 </div>
                 
                <br>
            </div>
            <!--Actores-->
            <div class="col-md" >

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="">Actores de la pelicula</span>
                  <input type="text" class="form-control" placeholder="Nombre" formControlName="nombreA" maxlength="50">
                  <input type="text" class="form-control" placeholder="Apellido Paterno" formControlName="apPaternoA" maxlength="50">
                  <input type="text" class="form-control" placeholder="Apellido Materno" formControlName="apMaternoA" maxlength="50">
                </div>                
              </div>
              <div *ngIf="registro.get('nombreA').errors && registro.get('nombreA').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('nombreA').hasError('required')">El nombre requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('nombreA').hasError('pattern')">No es un nombre valido</p>
              </div>
              <div *ngIf="registro.get('apPaternoA').errors && registro.get('apPaternoA').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('required')">El apellido paterno es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('sinEspacios')">No puede haber espacios en el apellido paterno</p>
                <p class="alert alert-danger" *ngIf="registro.get('apPaternoA').hasError('pattern')">No es un apellido paterno valido</p>
              </div>
              <div *ngIf="registro.get('apMaternoA').errors && registro.get('apMaternoA').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('apMaternoA').hasError('sinEspacios')">No puede haber espacios en el apellido materno</p>
                <p class="alert alert-danger" *ngIf="registro.get('apMaternoA').hasError('pattern')">No es un apellido materno valido</p>
                </div>
                
                <label>Tipo de Actor</label>
                <span class="text-danger">*</span>
                <br>
                <div class="form-group ">

                  <select class="form-control" formControlName="tipoActor" maxlength="50">
                    <option >Protagonista</option>
                    <option >Antagonista</option>
                    <option>Secundario</option>
                  </select>
                  <div *ngIf="registro.get('tipoActor').errors">
                    <p class="alert alert-danger" *ngIf="registro.get('tipoActor').hasError('required')">El campo es requerido</p>
                  </div>
                </div>
               

            </div>
            <br>
            <!--Genero pelicula-->
            <div class="col-md">	
            
            <label >Genero de la pelicula</label>
            <span class="text-danger">*</span>
            <br>           
            <div class="form-group ">

                <select  class="form-control" formControlName="genero" maxlength="50">
                  <option>Drama</option>
                  <option>Comedia</option>
                  <option>Accion</option>
                  <option>Ciencia ficción</option>
                  <option>Fantasía</option>
                  <option>Terror</option>
                  <option>Romance</option>
                  <option>Musical</option>
                  <option>Melodrama</option>
                  <option>Suspenso</option>
                  <option>Histórico</option>
                  <option>Belico</option>
                  <option>Policíaco</option>
                  <option>Western</option>
                  <option>Animacion</option>
                  <option>Para niños</option>
                  <option>Cine arte</option>
                  <option>Cine independiente</option>
                </select>
                <div *ngIf="registro.get('genero').errors ">
                  <p class="alert alert-danger" *ngIf="registro.get('genero').hasError('required')">El campo es requerido</p>
                </div>
            </div>
             
          </div>  
                <br>
          <!--Fecha de produccion-->

          <div class="col-md" >
            <div class="form-group" >
              <label>Año de estreno</label>
              <span class="text-danger">*</span>
<select class="form-control" formControlName="anioProduccion" maxlength="50">

                                <option>1990</option>
                                <option>1991</option>
                                <option>1992</option>
                                <option>1993</option>
                                <option>1994</option>
                                <option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                                <option>2003</option>
                                <option>2004</option>
                                <option>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>                                
              </select>
<div *ngIf="registro.get('anioProduccion').errors ">


                <p class="alert alert-danger" *ngIf="registro.get('anioProduccion').hasError('required')">El campo es requerido</p>
              </div>
            </div>
          </div>
          
          <!--Sinopsis-->  
         <div class="col-md" >	
              <div class="form-group" >
                <label >Sinopsis</label>
                <span class="text-danger">*</span>
                <textarea class="form-control text-muted" aria-label="With textarea" style=" size: 32" placeholder="Ingrese la sinopsis de la pelicula" formControlName="sinopsis" maxlength="2000"></textarea>
                <div *ngIf="registro.get('sinopsis').errors && registro.get('sinopsis').dirty">
                  <p class="alert alert-danger" *ngIf="registro.get('sinopsis').hasError('required')">El campo es requerido</p>
                </div>
              </div> 
             
          </div>
          

           <!--Clasificacion-->
          <div class="col-md" >

            <label>Clasificacion de la pelicula</label>
            <span class="text-danger">*</span>
            <br>
            <div class="form-group ">

              <select class="form-control" formControlName="clasificacion" maxlength="50">
                <option >A Mayores de 6 años</option>
                <option>B Para mayores de 12 años</option>
                <option>B15 Para mayores de 15 años</option>
                <option>C Para adultos, apto para mayores de 18 años</option>
                <option>D Exclusivamente adultos</option>
              </select>
              <div *ngIf="registro.get('clasificacion').errors">
                <p class="alert alert-danger" *ngIf="registro.get('clasificacion').hasError('required')">El campo es requerido</p>
              </div>
            </div>
            
          </div>
          <!--Duracion-->

          <div class="col-md" >
            <div class="form-group" >
              <label>Duracion</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" style=" size: 32" placeholder="Duracion en minutos" formControlName="duracion" maxlength="4">
              <div *ngIf="registro.get('duracion').errors && registro.get('duracion').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('duracion').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('duracion').hasError('pattern')">El campo debe ser un numero en minutos maximo 3 digitos</p>
              
              </div>
            </div>
            
          </div>
          <!--Casa productora-->
          
          <div class="col-md" >
            <div class="form-group" >
              <label>Casa Productora</label>
              <span class="text-danger">*</span>
              <input type="text" class="form-control" style=" size: 32" placeholder="Casa Prouctora" formControlName="casaProductora" maxlength="50">
              <div *ngIf="registro.get('casaProductora').errors && registro.get('casaProductora').dirty">
                <p class="alert alert-danger" *ngIf="registro.get('casaProductora').hasError('required')">El campo es requerido</p>
                <p class="alert alert-danger" *ngIf="registro.get('casaProductora').hasError('pattern')">No es un nombre valido</p>
              </div>
            </div>
          </div>

          <!--Portada de pelicula-->
          <div class="col-md">
            <label>Colocar URL de la portada</label>
            <span class="text-danger">*</span>
            <input type="text" class="form-control" placeholder="ejemplo: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiv77RtuuI2i0CzDw2TJEQ085-pfZaBzXiTB62EQ1heFIKqy2zHQ"
  formControlName="urlPortada">
<div *ngIf="registro.get('urlPortada').errors && registro.get('urlPortada').dirty ">
  <p class="alert alert-danger" *ngIf="registro.get('urlPortada').hasError('required')">El campo es requerido</p>

</div>


          </div>
          <br>
           <!--Archivo de pelicula-->   
           <div class="col-md" >
           <label >Colocar URl de la pelicula</label>
          <span class="text-danger">*</span>
<input type="text" class="form-control" placeholder="ejemplo: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiv77RtuuI2i0CzDw2TJEQ085-pfZaBzXiTB62EQ1heFIKqy2zHQ"
  formControlName="urlPelicula">
<div *ngIf="registro.get('urlPelicula').errors && registro.get('urlPelicula').dirty ">
<p class="alert alert-danger" *ngIf="registro.get('urlPelicula').hasError('required')">El campo es requerido</p>

</div>




            </div> 
             <br>

           
             <div align="center" >
              <button  type="submit" class="btn btn-primary btn-md " [disabled]="registro.invalid" (click)="guardarPelicula()" >Aceptar</button>  
          </div>
        <br>

        </form>

        </div>
   </div>
